.footer {
  height: 15vh;
  background-color: #0080FF;
  position: relative;
  color: white;
}

.footer-left {
  position: absolute;
  top: 6vh;
  left: 3%;
}

.footer-right {
  position: absolute;
  top: 6vh;
  right: 3%;
}
