@import "alert";
@import "avatars";
@import "badges";
@import "banner";
@import "navbar";
@import "card";
@import "footer";

.padded-15px {
  padding: 15px;
}

.padded-30px {
  padding: 30px;
}

.margin-15px {
  margin: 15px;
}


.margin-30px {
  margin: 30px;
}
